/*
-----------------------------------------------------------
            Global styles
-----------------------------------------------------------

*/
html {
  position: relative;
  min-height: 100%;
}

.container-header {
  text-align: center;
}

ul.nav-font a{
font-size: 19px !important;
}

a {
word-wrap: break-word;
}

body {
  font-family:  'Ubuntu', sans-serif !important;
  padding-top: 70px; 
  position: relative;
  height: 100%;
  font-size: 14px;
  overflow-x: hidden;
}

#myAffix{
  top: -70px;
  background-color: #00a1c6 !important;
  background-image: url('../img/bedge-grunge.png');
  background-size: 100% 100%;
  color: white !important;
  border-radius: 0px !important; 
  border-top: 0px !important; 
  border-right: 0px !important;
  border-left: 0px !important;	
  box-shadow: none !important;
}

.navbar-collapse{
padding: 0px !important;
}

p{
font-size:14px;
}

.horizontal-lists{
  float: left;
}

.table-margin{
  margin-top: 50px;
}

.blockquote-color{
	border-left: 5px solid #FFB100 !important;
}

#mainCol h1{
  padding-top: 30px;
}

a:hover {
  text-decoration: none !important;
}

.reset-jumb-pos{
top: -70px; 
position: relative;
}

.nav-hover:hover {
	color: #FFB100 !important; 	
}

.breadcrumb {
    padding: 8px 30px !important;
    margin-bottom: 20px;
    list-style: outside none none;
    background-color: #F5F5F5;
    border-radius: 4px;
	position: relative; 
	top: -70px;
}

.youth-testimonial{
	margin-bottom: 20px;
}

a.hero-button {
	background-color: #00A0C6;
	border-radius: 0px !important;
	color: white;
	font-size: 22px;
}

a.hero-button:hover {
	color: white;
}

.btn-contact {
	background-color: #00A0C6;
	border-radius: 0px !important;
	color: white;
	font-size: 16px;
}

a.btn-news {
	background-color: #00A0C6;
	border-radius: 0px !important;
	color: white;
	font-size: 16px;
}

a.btn-news:hover {
	color: white;
	background-color: #0099BD;
}

.nav-tabs {
	font-size: 18px;
}

.title-margin {
	margin-bottom: 40px;
}

.list-scroll {
max-height: 400px; 
overflow-y: scroll;
}
/*
-----------------------------------------------------------
            utility styles
-----------------------------------------------------------

*/

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #00A0C6 !important;
	color: white !important;
	border-radius: 0px !important;
}

.nav-pills > li > a {
    border-radius: 0px !important;
	font-size: 18px;
	color: black !important;
}

#faq a {
color:  #00A0C6;
}

#faq a:hover {
color:  #007591;
}
.nav-color{
  color: white !important;
}

.bg-info-2 {
    background-color: #EEE !important;
	color: black !important;
}

.bg-orange {
	background-color: #FFB100 !important;
	color: black;
}

.bg-blue {
	background-color: #00A0C6 !important;
	color: black;
}
.bg-green {
	background-color: #4ABC96 !important;
	color: black;
}



.bg-darkorange {
	background-color: #FF7F00;
	color: white;
}

.bg-torqouise {
	background-color: #005C71 ;
	color: white;
}

.center-text{
  text-align: center;
}

.thumbnail-margin{
  margin-bottom: 5px !important;
  margin-top: 10px 
}

.container-margin{
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.table-header-color{
  color: #337AB7 !important;
}

.breadcrumb-color {
  color: #337AB7 !important;
}

.no-radius{
  border-radius: 0px !important;
}

.no-border{
  border: none !important;
}

/*
-----------------------------------------------------------
            Article Page styles
-----------------------------------------------------------

*/
.news-p{
font-size: 21px;
margin-top: 50px;
}

#returnto-news  a, a:hover{
	text-decoration: none;
}

#home-news-container {
    background: white !important;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.vertical-center {
  min-height: 70%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh; /* These two lines are counted as one        */
  width: 100%;				
  
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  height: 400px;
  -ms-flex-align:center;
  justify-content: center;
  align-items: center;
  -ms-flex-pack: center;

}

.btn-transparent {
margin-top: 10px !important; 
background: transparent !important; 
color: white !important; 
border-color: white !important;
border-radius: 0px !important;
}

a.btn-transparent:hover{
	background-color: #5BC0DE !important;
	border: 1px solid rgb(255, 0, 0)!important;
    border: 1px solid rgba(255, 0, 0, .1) !important;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}

/*
-----------------------------------------------------------
            Contact Page styles
-----------------------------------------------------------

*/

.contact-background{
  background-color: white !important; 
}

.well-nobg{
 background-image: none !important;
}

.input-margin{
  margin-bottom: 25px !important;
}

/*
-----------------------------------------------------------
            Church History styles
-----------------------------------------------------------

*/
#sidebar li.active{
  background-color: #E7E7E7!important; 
}

/*
-----------------------------------------------------------
            Bootstrap Overrides
-----------------------------------------------------------

*/
.nav-inputsearch{
background: white; 
border: 1px solid #CCC;
border-left: 0px;
border-top-right-radius: 4px; 
border-bottom-right-radius: 4px;
padding: 0px 5px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;

}

.thumbnail-override, .caption{
	border: 0px !important;
	box-shadow: none !important;
	margin-top: 20px !important;
	padding: 0px !important;
}

.dropdown-menu {
	background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 5px rgba(0, 0, 0, 0.075);
}


.jumbotron {	
  margin-bottom: 0 !important;
}

.no-jumbotron-padding{
  padding: 0px !important;
}

.jumbotron-p{
margin-bottom: 10px;
font-size: 18px;
font-weight: 200;
}

.jumbotron-h1{
  font-size: 63px;
}

.navbar{
  margin-bottom: 0 !important;
}

.row-background {
   background-color: #00a1c6;
   background-image: url('../img/bedge-grunge.png');
   width: 100%;
   min-height: 50px;
   color: white; 
   padding-top: 15px;
   padding-bottom: 15px;
}

.btn-override{
  border-radius: 2px !important;
  font-size: 16px !important;
}

.header_logo {
  padding: 6px 0px;
  background-color: #00a1c6;
  background-image: url('../img/bedge-grunge.png');
  min-height: 169px;
  margin-top: -70px;
}

.footer {
  background-color: #f5f5f5 !important;
  position: absolute;
  width: 100%;
  height: auto;
  
}

.container-header {
text-align: left;
position: absolute	;
top: 0;
margin-top: 26px;
left: 0px;
}

.container-hero {
  margin-left: 10px;
}

.ccc-logo {

  margin-left: 20px;
}

.ccc-nav-logo{
  width:116px;
  height:48px;
}

.img-thumbnail {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.header-title{
  color: #005C71 !important;
}

.item{
  width: 50%;
  margin: 0 auto;
}

.center-title{
  text-align: center;
}


.navbar-default {

}

.navbar-default .navbar-nav > .active > a,        
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  /* Set the color of the active state of navbar tabs */
  background-color: #00a1c6 !important;
  background-image: url('../img/bedge-grunge.png') !important;
  color: #FFB100 !important;
  box-shadow: none !important;
}

.nav-button {
  margin: 10px;
}

.jumbotron-img {
  /* responsive jumbotron size */
  background: url('https://placeimg.com/1000/400/tech') no-repeat center center;  
  background-size: cover;
  height: 330px;
} 

.jumbo-slider-override{
	padding: 0px !important;
	top: -70px;
}

.page-header-nounderline {
  border: none !important;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color: #FFB100!important;
  background-image: none !important;
}

.dropdown-menu li {
  margin-left: 0px !important;
  margin-bottom: 10px !important;
}

.navbar-default .navbar-nav > .open > a {
  background-color: transparent !important;
  box-shadow: none !important;
  background-image: none !important;
}


  
/*
-----------------------------------------------------------
            Social Icons Style
-----------------------------------------------------------

*/
@font-face {
    font-family: 'si';
    src: url('../img/socicon-1.3/socicon.eot');
    src: url('../img/socicon-1.3/socicon.eot?#iefix') format('embedded-opentype'),
         url('../img/socicon-1.3/socicon.woff') format('woff'),
         url('../img/socicon-1.3/socicon.ttf') format('truetype'),
         url('../img/socicon-1.3/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../img/socicon-1.3/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-right: 10px;
    color: #ffffff;
    background-color: #005C71;
}

.soc a:hover {
    z-index: 2;
    background-color:#147085 !important;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-facebook:before {
    content:'b';
}
.soc-twitter:before {
    content:'a';
}
.soc-youtube:before {
    content:'r';
}
.soc-rss:before {
    content:',';
}

/*
-----------------------------------------------------------
            Social Icons Style- Article
-----------------------------------------------------------

*/
.soc-news {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.soc-news li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc-news li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-size: 20px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-right: 17px;
    color: #ffffff;
    background-color: none;
}

.soc-news a:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.soc-news-icon-last{
    margin:0 !important;
}

.soc-news-twitter {
    background-color: #4da7de;
}
.soc-news-twitter:before {
    content:'a';
}
.soc-news-google {
    background-color: #d93e2d;
}
.soc-news-google:before {
    content:'c';
}
.soc-news-facebook {
    background-color: #3e5b98;
}
.soc-news-facebook:before {
    content:'b';
}
.soc-news-email1 {
    background-color: #578AD6;
}
.soc-news-email1:before {
    content:'<';
}
/*
----------------------------------------------------------------
IE 10 in Windows 8 and Windows Phone 8 media query viewport fix
----------------------------------------------------------------

*/
@-ms-viewport { width: device-width;}

@-webkit-viewport {width: device-width;}
@-moz-viewport { width: device-width;}
@-ms-viewport  { width: device-width;}
@-o-viewport  { width: device-width;}
@viewport { width: device-width; }


/*
-----------------------------------------------------------
            Bootstrap Media Query Overrides
-----------------------------------------------------------

*/
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media (min-width : 320px) and (max-width : 479px){
.search-pos{
margin-left: 10px;
}

.navbar-brand{
padding: 15px 2px !important;
}
.navbar-header{
  padding: 2px;
}
.affix {
 position: static !important;
}

.navbar-toggle{
float: right !important;
margin-right: 2px !important;
}

.navbar-brand h3{
  position: relative;
  color: white !important; 
  font-size: 22px;
  margin-left: 5px;
}

.separator-responsive-xs {
border-bottom: 2px solid white; 
padding-bottom: 15px; 
margin-bottom: 10px;
}

.navbar-nav li {
  margin-left: 10px;
}
#chevron-top{
display: none;
}
}

/* Extra Small Devices, Phones */ 
@media (min-width : 480px) and (max-width : 767px){
.search-pos{
margin-left: 10px;
}

.separator-responsive-xs {
border-bottom: 2px solid white; 
padding-bottom: 15px; 
margin-bottom: 10px;
}

#chevron-top{
display: none;
}

.navbar-brand{
height: auto !important;
padding-right: 0px !important ;
}

.affix {
 position: static !important;
}

.navbar-toggle{
float: right !important;
margin-right: 21px !important;
}

.navbar-brand h3{
  position: relative;
  color: white !important; 
  font-size: 26px;
  margin-left: 5px;
}


.navbar-nav li {
  margin-left: 10px;
}

}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width:991px) {
.navbar-form-override{
border: 0px !important;
box-shadow: none !important;
}

.collapse-underline {
border-bottom: 1px solid #DDD; 	
}

.search-pos{
margin-left: 10px;
}

.navbar-brand{
height: auto !important;
padding-right: 0px !important ;
}

.affix {
 position: static !important;
}

.navbar-toggle{
float: right !important;
margin-right: 21px !important;
}

.navbar-nav li {
  margin-left: 10px;
}

.navbar-brand > img {
    border-right: 1px solid #FFF;
    padding-right: 30px;
}
#chevron-top{
display: none;
}

.separator-responsive {
border-right: 2px solid white; 
padding-right: 15px; 
margin-right: 10px;
}
}

/* Medium Devices, Desktops */
@media (min-width:992px) and (max-width:1199px){
.nav > li > a {
    padding: 10px 5px !important;
}
.navbar-brand h3{
  display: none !important;
  position: relative;
  color: white !important; 
}
.search-pos{
margin-left: 10px;
}

.affix {
 position: static !important;
 width: auto !important;
 top: 0 !important;
}	

.repos-top-right{
position: absolute;
top: 0;
right: 0;
}

.navbar-right {
    float: right !important;
    margin-right: 5px!important;
}

nav.affix h3{
  display: inline !important;	
}
nav.affix img{
  display: none !important;	
}

nav.affix #bs-example-navbar-collapse-1{
  border-bottom: 2px solid #E7E7E7;
}

nav.affix .nav-img-display{
display: inline-block !important;	
}

nav.affix-top #bs-example-navbar-collapse-1{
margin-top:148px;
}  

#sidebar.affix-top {
  position: static;
  margin-top:50px;
  width:228px;
}

#sidebar.affix {
  position: fixed;
  top:90px;
  width:228px;
}

#sidebar.affix-bottom {
  position: relative;
}


.navbar-brand > img {
    display: block;
    top: -145px;
    position: relative;
	border-right: 1px solid white;
	padding-right: 30px;
}

.navbar-brand h3{
  display: none !important;
  position: relative;
  color: white !important; 
  margin-left: 40px !important;
  margin-right: 15px;
}

.navbar-brand{
padding: 11px !important;
}



.navbar .navbar-nav {
    float: none;
    vertical-align: top;
	height: 49px;
}

.no-jumbotron-p{
  font-size: 14px !important;
}


.navbar-nav li {
  margin-left: 10px;
}

.navbar .navbar-collapse {
  background-color: #00a1c6 !important;
  background-image: url('../img/bedge-grunge.png') !important;
}

.jumbotron-h1{
  font-size: 63px !important;
}

.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu{
  background-color: #00a1c6 !important;
  background-image: url('../img/bedge-grunge.png') !important;
  border: 1px solid #E7E7E7 !important;
  border-top: 3px solid #FFB100 !important;
  margin-top: 10px !important;
}

#chevron-top{
display: none;
}

.separator-responsive {
border-right: 2px solid white; 
padding-right: 15px; 
margin-right: 10px;
}
}

/* Large Devices, Wide Screens */
@media(min-width:1200px) {
.repos-top-right{
position: absolute;
top: -4px;
right: 0;
}

.navbar-nav > li > a {
    padding-left: 20px !important;
}

.navbar .navbar-nav {
    float: none;
    vertical-align: top;
	height: 49px;
	display: inline-block;
}

 .affix{
  width: 100%;
  top: 0;
  z-index: 19;  
}

.navbar-right {
    float: right !important;
    margin-right: 5px!important;
}

nav.affix h3{
  display: inline !important;	
}
nav.affix img{
  display: none !important;	
}

nav.affix .nav-img-display{
display: inline-block !important;	
}

nav.affix-top #bs-example-navbar-collapse-1{
margin-top:148px;
}  

#sidebar.affix-top {  
  position: static;
  margin-top:50px;
  width:228px;
}

#sidebar.affix {
  position: fixed;
  top:90px;
  width:228px;
}

#sidebar.affix-bottom {
  position: relative;
}

#sidebargallery.affix-top {  
  position: static;
  margin-top:50px;
  width:228px;
}

#sidebargallery.affix {
  position: fixed;
  top:90px;
  width:228px;
}

#sidebargallery.affix-bottom {
  position: relative;
}

#myAffix.affix{
  position: fixed;
  top: 0;
  z-index: 1030;
  width: 100%;
	min-height: 50px;
	-webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear; 
  transition: all 0.4s linear;
}

#myAffix.affix-top{
	top: -70px;
	
}
#chevron-top{
height: 70px;  
width: 70px;
}

#chevron-top.affix-top span{
position: absolute;
height: 70px; 
width: 70px;  
background: url('../img/ico2/PNG/chevron-up.png') no-repeat center center;
visibility: hidden;
}


#chevron-top.affix-top{
position: absolute;
}

#chevron-top.affix{
top: 70px;
}

#chevron-top.affix span{
height: 70px; 
width: 70px;  
background: url('../img/ico2/PNG/chevron-up.png') no-repeat center center;
display: inline-block;
visibility: visible;
-webkit-opacity: 0.8;
-moz-opacity: 0.8;
opacity: 0.8;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}


#chevron-top.affix span:hover{
-webkit-opacity: 1;
-moz-opacity: 1;
opacity: 1;
}

#chevron-top.affix-bottom {
    position: relative;
}

.navbar-brand > img {
    display: block;
    top: -145px;
    position: relative;
	border-right: 1px solid white;
	padding-right: 30px;
}

.navbar-brand h3{
  display: none !important;
  position: relative;
  color: white !important; 
  margin-left: 40px !important;
  margin-right: 15px;
}

.navbar-brand{
padding: 11px !important;
}

.navbar-brand h3{
  display: none !important;
  position: relative;
  color: white !important; 
}

.dropdown-menu{
  background-color: #00a1c6 !important;
  background-image: url('../img/bedge-grunge.png') !important;
  background-size: 100% 100%;
  border: 1px solid #E7E7E7 !important;
  border-top: 3px solid #FFB100 !important;	
  margin-top: 1px !important;
}

.border-style{
border-right: 0 !important;
}

.separator-responsive {
border-right: 2px solid white; 
padding-right: 15px; 
margin-right: 10px;
}
}
