.DS_Store
.htaccess
application/cache/*
!application/cache/index.html
!application/cache/.htaccess
**/config/development/
**/config/production/
**/config/testing/
application/config/database.php
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
fuel/application/cache/
fuel/application/config/mailchimp_email.php
.env
fuel/application/vendor/
.vagrant
