@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

@media(min-width:1200px) {
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 30%;
    display: block;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
/*
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}*/

.slick-prev:before,
.slick-next:before
{
    opacity: 0;
}

.hero-hover:hover .slick-prev:before,.hero-hover:hover .slick-next:before{
	opacity: 0.8;
}

.slick-prev
{
    left: 40px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: url(../img/chevron-left.svg);
}

[dir='rtl'] .slick-prev:before
{
    content: url(../img/chevron-left.svg);
}


.slick-next
{
    right: 60px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: url(../img/chevron-right.svg);
}

[dir='rtl'] .slick-next:before
{
    content: url(../img/chevron-right.svg);
}
}

@media(max-width:1199px) {
.slick-next, .slick-prev{
display:none !important;
}
}

@media (min-width : 320px) and (max-width : 479px){
#home-hero .slick-dots{
    bottom: -45px !important;
    z-index: 1;
}
}
/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
	
}

#home-hero .slick-dots{
	bottom: 15px;
}
.slick-dots li
{
    position: relative;
	
    display: inline-block;

    width: 32px;
    height: 32px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
	z-index: 1;
    display: block;

    width: 32px;
    height: 32px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
	
	-o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
	
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;

}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before 
 { 
position: absolute; 
top: 0; 
left: 0; 
content: url(../img/stop2-before.svg); 
width: 32px; 
height: 32px; 

font-size: 6px; 
line-height: 20px; 
text-align: center; 
color: black; 
opacity: 0.7; 
-webkit-font-smoothing: antialiased; 
-moz-osx-font-smoothing: grayscale; 
}

.slick-dots li.slick-active button:before 
 { 
 color: black; 
 opacity: 1; 
 content: url(../img/stop2.svg);
 -webkit-transform: scale(1.2);
 transform: scale(1.2);

 }
